modules = ["python-3.10:v18-20230807-322e88b"]
run = "python src/main.py --profile {str} (Path to your Firefox profile) [OPTIONAL: --headless, --query {str} (Your search query (or your niche)), --people (Where your JSON file is located), --n {num} (Amount of people you want to connect with, if not supplied, default 30 is used)]"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python src/main.py --profile {str} (Path to your Firefox profile) [OPTIONAL: --headless, --query {str} (Your search query (or your niche)), --people (Where your JSON file is located), --n {num} (Amount of people you want to connect with, if not supplied, default 30 is used)]"]
deploymentTarget = "cloudrun"
